<?xml version='1.0' encoding='utf-8'?>
<widget id="com.goudsnewstv.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>GoudsNewsTV.com</name>
    <description>Mobile app for Gouds News TV</description>
    <author email="admin@goudsnewstv.com" href="http://www.goudsnewstv.com">Shiva Gouraram</author>

    <preference name="phonegap-version" value="3.7.0" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="keepRunning" value="false" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />
    

	<icon src="icon.png" />
	<!--
    <icon src="res/icons/ios/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />    
    <icon src="res/icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	-->
    <icon src="res/icons/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icons/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icons/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icons/android/drawable-xdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="res/icons/android/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="res/icons/android/drawable-xxxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	
    <gap:splash src="splash.png" />
    
    <gap:splash src="res/screen/android/drawable-ldpi/screen.png"  gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="res/screen/android/drawable-mdpi/screen.png"  gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/screen/android/drawable-hdpi/screen.png"  gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/screen/android/drawable-xdpi/screen.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="res/screen/android/drawable-xxhdpi/screen.png"  gap:platform="android" gap:qualifier="xxhdpi" />
    <gap:splash src="res/screen/android/drawable-xxxhdpi/screen.png" gap:platform="android" gap:qualifier="xxxhdpi" />
    <!--
    <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="680" height="960" />
    <gap:splash src="res/screen/ios/Deafult-568h-2x.png" gap:platform="ios" width="640" height="1136" />
	-->
    <content src="http://www.goudsnewstv.com" />
    <access origin="*" subdomains="true" />
</widget>
